* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background: #f4f4f4;
  margin: 0;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  letter-spacing: 4px;
}

header {
  text-align: center;
  background:  #fff;
  margin-bottom: 30px;
  padding: 20px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.pane {
  width: 32%;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  margin: 5px;
  flex: 1;
  box-shadow: 0 0 10px #ddd;
}

.pane:hover {
  background: #5e889e;
  box-shadow: 0 0 10px #eee;
  color: #fff;
}

h3 {
  margin: 0;
}

.pane h3 {
  display: block;
  background: #5e889e;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 20px;
  font-weight: normal;
}

.pane a {
  text-decoration: none;
  color:  #000;
}

section,
footer {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
}

section {
  display:flex;
  justify-content: space-between;
}

p {
  line-height: 150%;
  font-size: 16px;
}

.center {
  text-align: center;
}